* {
    font-family: "IBM Plex Serif", serif;
}
body {
    background-color: black;
}
h3 {
    color: white;
}
.header {
    text-align: center;
    position: sticky;
}
.logo {
    filter: invert(100%);
}
.header h1 {
    font-size: 25px;
    color: white;
}
.nav-item {
    padding: 30px;
    display: inline-flex;
}
.header ul {
    padding-left: 0;
}
.header li {
    align-items: center;
}
button {
    font-size: 14px;
    width: 200px;
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: background-color ease 1s;
}
button:hover {
    background-color: rgba(184,184,184,0.85);
}
.catalogue-item {
    text-align: center;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    display: inline-block;
    overflow: hidden;
}
.catalogue-item img {
    width: 192px;
    height: 225px;
    margin-top: 10px;
    border-radius: 3%;
}
.catalogue {
    text-align: center;
    background-color: white;
}
.function-bar {
    text-align: right;
    margin-right: 10%;
}
.function-bar p {
    font-size: 16px;
    color: white;
    display: inline-block;
}
.function-bar select {
    font-size: 16px;
    display: inline-block;
    color: white;
    background-color: black;
    border: none;
    transition: border ease 1s;
}
.add-item {
    padding-right: 5px;
    color: white;
    border-right: 1px white solid;
}
.add-item-header {
    font-size: 30px;
}
.add-item-wrapper {
    display: flex;
}
.add-item-preview {
    padding-left: 5px;
}
.preview-item {
    text-align: center;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    display: inline-block;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    overflow: hidden;
}
.preview-item img {
    margin-top: 10px;
    width: 192px;
    height: 225px;
}
.filter {
    color: white;
    text-align: left;
}
.by-price {
    display: block;
}
.filter-constructor-wrapper {
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}
.constructor-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    width: 60%;
    height: 80%;
    color: black;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 15px;
    color:black;
}
.constructor-input {
    display: block;
}
.item-page {
    display: flex;
    margin-top: 10px;
    background-color: white;
    width: 100%;
}
.item-page-content {
    width: 50%;
    text-align: center;
    padding-left: 5%;
}
.item-page-content h2 {
    text-align: center;
    font-size: 40px;
}
.image-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 10%;
    width: 20%;
    display: flex;
    text-align: center;
    aspect-ratio: 77/100;
}
.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.add-to-cart-button {
    margin-top: 30px;
    width: 70%;
    height: 40px;
    color: white;
    background-color: black;
    font-size: 20px;
    border-radius: 2px;
    transition: background-color ease 1s;
}
.add-to-cart-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.item-description {
    text-align: left;
    padding-left: 5%;
}
.add-item-page-wrapper {
    background-color: white;
}
* {
    font-family: "IBM Plex Serif", serif;
}
body {
    background-color: black;
}
h3 {
    color: white;
}
.header {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 1000;
}
.logo {
    filter: invert(100%);
}
.header h1 {
    font-size: 25px;
    color: white;
}
.nav-item {
    padding: 30px;
    display: inline-flex;
}
.header ul {
    padding-left: 0;
}
.header li {
    align-items: center;
}
button {
    font-size: 14px;
    width: 200px;
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: background-color ease 1s;
}
button:hover {
    background-color: rgba(184,184,184,0.85);
}
.catalogue-item {
    text-align: center;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    display: inline-block;
    overflow: hidden;
}
.catalogue-item img {
    border-radius: 3%;
    width: 192px;
    height: 225px;
    margin-top: 10px;
}
.catalogue {
    text-align: center;
    background-color: white;
}
.function-bar {
    text-align: right;
    margin-right: 10%;
}
.function-bar p {
    font-size: 16px;
    color: white;
    display: inline-block;
}
.function-bar select {
    font-size: 16px;
    display: inline-block;
    color: white;
    background-color: black;
    border: none;
    transition: border ease 1s;
}
.add-item {
    padding-right: 5px;
    color: white;
    border-right: 1px white solid;
}
.add-item-header {
    font-size: 30px;
}
.add-item-wrapper {
    display: flex;
}
.add-item-preview {
    padding-left: 5px;
}
.preview-item {
    text-align: center;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    display: inline-block;
    overflow: hidden;
}
.preview-item img {
    margin-top: 10px;
    width: 192px;
    height: 225px;
}
.filter {
    color: white;
    text-align: left;
}
.by-price {
    display: block;
}
.filter-item-wrapper {
    display: block;
}
.filter-constructor-wrapper {
    display: none;
    z-index: 10000;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}
.constructor-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    width: 60%;
    height: 80%;
    color: black;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 15px;
    color:black;
}
.constructor-input {
    display: block;
}
.item-page {
    display: flex;
    margin-top: 10px;
    background-color: white;
    width: 100%;
}
.item-page-content {
    width: 50%;
    text-align: center;
    padding-left: 5%;
}
.item-page-content h2 {
    text-align: center;
    font-size: 40px;
}
.image-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 10%;
    width: 20%;
    display: flex;
    text-align: center;
    aspect-ratio: 77/100;
}
.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.add-to-cart-button {
    margin-top: 30px;
    width: 70%;
    height: 40px;
    color: white;
    background-color: black;
    font-size: 20px;
    border-radius: 2px;
    transition: background-color ease 1s;
}
.add-to-cart-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.item-description {
    text-align: left;
}
.add-item-page-wrapper {
    background-color: white;
}
a {
    text-decoration: none;
    color: black;
}