* {
    font-family: "IBM Plex Serif", serif;
}
body {
    background-color: black;
}
h3 {
    color: white;
}
.header {
    text-align: center;
    position: sticky;
}
.logo {
    filter: invert(100%);
}
.header h1 {
    font-size: 25px;
    color: white;
}
.nav-item {
    padding: 30px;
    display: inline-flex;
}
.header ul {
    padding-left: 0;
}
.header li {
    align-items: center;
}
.nav-item button {
    font-size: 14px;
    width: 200px;
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: background-color ease 1s;
}
.nav-item button:hover {
    background-color: rgba(184,184,184,0.85);
}
.item-page {
    display: flex;
    margin-top: 10px;
    background-color: white;
    width: 100%;
}
.item-page-content {
    width: 50%;
    text-align: center;
    padding-left: 5%;
}
.item-page-content h2 {
    text-align: center;
    font-size: 40px;
}
.image-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 10%;
    width: 20%;
    display: flex;
    text-align: center;
    aspect-ratio: 3/4;
}
.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.add-to-cart-button {
    margin-top: 30px;
    width: 70%;
    height: 40px;
    color: white;
    background-color: black;
    font-size: 20px;
    border-radius: 2px;
    transition: background-color ease 1s;
}
.add-to-cart-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.item-description {
    text-align: left;
    padding-left: 5%;
}
.delete-item-button {
    font-size: 20px;
    background-color: white;
    color: rgba(255,51,47,0.85);
    border: 2px solid rgba(255,51,47,0.85);
    border-radius: 10px;
    transition: background-color ease 1s, color ease 1s;
}
.delete-item-button:hover {
    cursor: pointer;
    background-color: rgba(255,51,47,0.85);
    color: white;
}
button {
    font-size: 14px;
    width: 200px;
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: background-color ease 1s;
}
button:hover {
    background-color: rgba(184,184,184,0.85);
}
.attribute-constructor-wrapper {
    display: none;
    z-index: 100000;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}
.attribute-constructor {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    width: 60%;
    height: 80%;
    color: black;
}
.close-attribute-constructor {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 15px;
    color:black;
}
.attribute-constructor input {
    display: block;
    margin-top : 10px;
    margin-bottom : 10px;
}
.attribute-constructor p {
    font-size: 30px;
}