h1 {
    margin-top: 15%;
    font-size: 100px;
}
body {
    background: rgba(103,163,204,0.85);
    color: white;
}
.wrapper {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button {
    border-color: white;
    border-style: solid;
    border-radius: 15px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 30px;
    height: 50px;
    width: 300px;
    background: none;
    box-shadow: rgba(12,12,28,0.85) 2px 0.5px 3px;
}
button:hover {

}
button:active {
    color: rgba(212,212,212,0.85);
    border-color: rgba(236,236,226,0.85);
    border-style: wave;
    box-shadow: none;
}