body {
    background-color: black;
}
.header {
    font-family: IBM Plex Serif;
    text-align: center;
    position: sticky;
}
.logo {
    filter: invert(100%);
}
.header h1 {
    font-size: 25px;
    color: white;
}
.nav-item {
    padding: 30px;
    display: inline-flex;
}
a {
    font-family: IBM Plex Serif;
}
.header ul {
    padding-left: 0;
}
.header li {
    align-items: center;
}
.slogan {
    font-family: IBM Plex Serif;
    padding-top: 70px;
    text-align: center;
    font-size: 80px;
}
.scroll-list {
    overflow: hidden;
}
.scroll-list-item {
    display: flex;
    width: max-content;
    gap: 10px;
}
.main-container {
    background-color: white;
}
button {
    font-family: "IBM Plex Serif", serif;
    font-size: 14px;
    height: 50px;
    width: 200px;
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: background-color ease 1s;
}
button:hover {
    background-color: rgba(184,184,184,0.85);
}

.about-us-item {
    width: 33%;
    display: inline-block;
}